@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #201717;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(251 191 36);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.badge {
  top: 8%;
  left: 34%;
  width: 100%;
  letter-spacing: 1px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
  transform: rotate(45deg);
  color:white;
  height: 25px;
  line-height: 25px;
  font-size:10px
}
